* {
  font-family: 'Nunito', sans-serif;
}

.sidebar {
  background-color: #2962ff;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 330px;
  transition: .2s;
}

.profile-picture {
  width: 100%;
  max-width: 190px;
}

.sidebar-paragraph {
  line-height: 23px;
}

.social-media-links li {
  list-style-type: none;
  display: inline;
}

.social-media-links li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: white;
  color: #2962ff;
  text-decoration: none;
  font-size: 20px;
  transition: .1s;
}

.social-media-links li a:hover {
  transform: scale(1.1);
}

.sidebar-navigation-link ul {
  list-style-type: none;
}

.sidebar-navigation-link ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: .2s;
}

.sidebar-navigation-link ul li a:hover {
  margin-left: 10px;  
}

.main-body {
  margin-left: 330px;
  padding: 60px 40px;
}

.topbar {
  color: white;
  background-color: #2962ff;
  left: 0; right: 0; top: 0;
  display: none;
}

.sidebar-toggler {
  padding: 15px 20px;
  cursor: pointer;
  background-color: #2962ff;
  color: whte;
  font-size: 20px;
  transition: .2s;
}

.sidebar-dark-overlay {
  background-color: rgba(0, 0, 0, .8);
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
}

.brand-ic {
  font-size: 28px;
}

.t-d-none {
  text-decoration: none;
}

@media(max-width: 1024px) {

  .main-body {
    margin-left: 0;
    padding: 120px 0;
  }

  .sidebar-dark-overlay {
    display: block;
  }

  .sidebar-hide {
    transform: translateX(-400px);
  }

  .sidebar-dark-overlay-hide {
    display: none;
  }

  .topbar {
    display: block;
  }

}

@media(max-width: 1024px) {
  .container {
    max-width: 900px !important;
  }
}